.author-info-inline {
	display: inline-block;
	margin-left: .5em;
	img{
		border-radius: 999px;
		margin: 0 .5em;
	}
}

@media (min-width: 480px) {
	.author-info-inline {
		float: left;
		margin: -2px 1.6em 0 0;
	}
}